---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
---
Language: Cpp
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Custom
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowAllParametersOfDeclarationOnNextLine: false
AlignOperands: Align
AlignTrailingComments: true
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseInsensitive
IncludeCategories:
  # 1. Relative paths with ""
  - Regex: '^".*\.hpp"$'
    Priority: 0
  
  # 2. Absolute paths with <> (excluding Hiber3D)
  - Regex: '^<[^H][^i][^b][^e][^r].*\.hpp>$'
    Priority: 1
    
  # 3. Hiber3D includes
  - Regex: '^<Hiber3D/.*>$'
    Priority: 2
    
  # 4. Other external includes
  - Regex: '^<.*>$'
    Priority: 3
AllowShortIfStatementsOnASingleLine: Never
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
InsertBraces: true
Standard: c++20
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100
---
Language: Proto
# Don't format .proto files.
DisableFormat: true