@import "tailwindcss" source("/");
@import "@hiber3d/web/styles";
@source "../node_modules/@hiber3d/web";

@font-face {
  font-family: "Kleptocracy Titling";
  src: url("/ui/menus/kleptocracy titling cd lt.otf") format("opentype");
}

@font-face {
  font-family: "Kleptocracy Titling Regular";
  src: url("/ui/menus/kleptocracy titling cd rg.otf") format("opentype");
}

@theme {
  --font-roborun: "Kleptocracy Titling Regular", sans-serif;
  --color-roborun: #ffb100;
}

@utility roborun-button {
  & * {
    user-select: none;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
    filter: brightness(1.2) contrast(0.8);
  }
}
